body {
    font-size: 14px;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
.jumbotron {
    text-align: center;
}
.jumbotron h1 {
    margin-bottom: 30px;
}

.media-body h4 {
    margin-top: 10px;
}

.padd {
    padding: 30px 20px;
}

.media-object {
    height: 150px;
    width: 150px;
}
.table {
    max-width: 400px;
}